.efectoimg:hover{
    filter: opacity(50%);
    transition: 500ms;
}
@media all and (max-width:576px){
    .img-responsive{
        height: 250px;
        object-fit: cover;
    }
    .centrar{
        text-align: center;
    }
}

.tamaño-producto{
    object-fit: cover;
    height: 194px;
}

.tamaño-cards{
    width: 18rem;
    height: 160px;
}